@font-face {
    font-family: 'Palanquin Dark';
    src: url('fonts/PalanquinDark-Regular.woff2') format('woff2'),
         url('fonts/PalanquinDark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body.fondo {
  background-image: url(IMAGENES/fondo.jfif); 
  background-size: 100%;             
  background-position: center;        /* Centrada */
}
body.fondorec{
  background-color: #504AC6;

}
body{
    background-color: #504AC6;
}

p {
  color: white;
}

a{
    color: black;
    text-decoration: none;
}

nav a:hover{
  font-weight: bold;
}

ul{
    color: #CDCAFD;
    font-size: 130%;
    border: 1px solid rgb(224, 223, 245); 
    background-color: #CDCAFD; 
    color: black;
}

.rectangulo {
    width: 600px;             
    height: 600px;          
    background-color: #CDCAFD; 
    border: 2px solid rgb(224, 223, 245);  
    margin-top: 0%;
    margin-left: 27%;
}

h1{
      font-size: 100%;
}

.rec{
      width: 400px;             
      height: 350px;          
      background-color: #504AC6;   
      margin-left: 33%;
      font-size: 20px;
      font-family: Palanquin Dark;
}

.rec1{
      width: 250px;             
      height: 35px;          
      background-color: white;   
      margin-left: 20%;
      border-style:  0; 
      border-radius: 15px;
      
}

.texto{
    font-size: 40px;
    margin-left: 6%;
}

.is{
    color: #504AC6;
    margin-left: 22%;
    font-size: 135%;
    position: relative;
    top: 3px;
}

.r{
    color: white;
    font-size: 121%;
    margin-left: 15%;
    position: relative;
    top: 20px;
}

.buscando {
    width: 600px;               
    height: 0px;              
    border-radius: 20px;       
    background-color: #CDCAFD;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;         
}

.rec3{
    width: 300px;
    height: 35px;              
    border-radius: 20px;       
    background-color: #CDCAFD;         
    margin-left: 0%;
    padding: 0%;
    margin-bottom: -40px;
}

.entas{
    font-size: 30px;            
    color: grey; 
    margin-left: 100px;
}


.lupa{
  left: 20px;
  position:absolute;
}
 
.logo{
    width: auto;
    height: 100px;
    margin: none;
}

.icono1{
    width: auto;
    height: 50px;
    padding-left: 508px;
    padding-right: 0px;
    top: 0%;
    right: 8%;
}

.menú{
  z-index: 2;
  width: 5px;
  height: 40px;
}

.icono2{
  background-color: #504AC6;
  width: 40px !important;
  height: 40px;
  margin-left: -37px;
}

.menuboton{
  background-color: #504AC6;
  border-color: #504AC6;
  width: auto;
  height: auto;

}

.menu-nav{
  border-color: aliceblue;
  border-width: 5px;
  width: 106px;
  height: 168px;
  color: black;
  list-style: none;
  display: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  right: 15px;
}
  
  .pmenú{
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.divisionmenu{
  background-color: aliceblue;
  margin: 0%;
  border: none;
  height: 2px;
  width: 110px;
  left: 0px;

}

.perfil{
  font-size: 50px;
  padding-bottom: 150px;
  margin: 0px;
  float: center;
}
.divv{
  width: 33%;
  float: right;
}
.ims{
  width: 200;
  float: left;
}
.rec6{
   width: 380px;             
      height: 590px;          
      background-color: #CDCAFD;   
      margin-left: 35%;
      font-size: 20px;
      font-family: Palanquin Dark;
}
.cuenta{
    font-size: 37px;
    margin-left: 26%;
    color: black;
}
.correo{
    width: 330px;               
    height: 5px;              
    border-radius: 20px;       
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%; 
}
.gmail{
    font-size: 19px;
    margin-left: 4%;
    color: black;
}
.numero{
    font-size: 19px;
    margin-left: 4%;
    color: black;
}
.nro{
    width: 330px;               
    height: 5px;              
    border-radius: 20px;       
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%; 
}
.nombre{
    font-size: 19px;
    margin-left: 4%;
    color: black;
}
.contraseña{
    font-size: 19px;
    margin-left: 4%;
    color: black;
}
.nom{
    width: 330px;               
    height: 5px;              
    border-radius: 20px;       
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%; 
}
.contra{
    width: 330px;               
    height: 5px;              
    border-radius: 20px;       
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%; 
}
.rec7{
  width: 164px;             
  height: 35px;          
  background-color: #504AC6 ;   
  margin-left: 0%;
  border-radius: 20px;
}
.atras{
  font-size: 23px;
  color: wheat;
  margin-left: 26px;
}
.at{
  color: white;
  text-decoration: none;
}
.siguiente{
  font-size: 23px;
  color: wheat;
  margin-left: 26px;
}
.sig{
    color: #504AC6;
  text-decoration: none;
}
.rec9{
   width: 380px;             
      height: 276px;          
      background-color: #CDCAFD;   
      margin-left: 35%;
      font-size: 20px;
      font-family: Palanquin Dark;
}
.rec10{

      width: 164px;             
      height: 35px;          
      background-color: #504AC6 ;   
      margin-left: 0%;
      border-radius: 20px;
}
.rec11{
      width: 164px;             
      height: 35px;          
      background-color: #504AC6 ;   
      margin-left: 43%;
      border-radius: 20px;
      margin-top: -7%;

}
.foto{
      width: 164px;             
      height: 35px;   
      color: black;
}
.ifoto{
      font-size: 19px;
    margin-left: 4%;
    color: black;
}
.fondoaccesorio{
  background: url(IMAGENES/fondoaccesorios.png);
  display: grid;
  grid-template-columns: auto auto auto;
}
h3{
  font-size: 300%;
  color: white;
}
.acc{
    width: 330px;               
    height: 5px;                  
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%;
    top: 40%;
    border-radius: 20px ;
}
.card-producto{
    display: grid;
  grid-template-columns: auto auto;
  background-color: #CDCAFD;
  border: 1px black solid;
  margin: 10px;
}

.Dispositivos{
  color: black; 
  font-size: 20px;
  border-radius: 12px;
  border-color: none;
  background-color: #CDCAFD;
  width: 150px;
  height: 40px;
}
.Usos{
  color: black; 
  font-size: 20px;
  border-radius: 12px;
  border-color: none;
  background-color: #CDCAFD;
  width: 150px;
  height: 40px;
}
.Marcas{
  color: black; 
  font-size: 20px;
  border-radius: 12px;
  border-color: none;
  background-color: #CDCAFD;
  width: 150px;
  height: 40px;
}

.Presupuesto{
  color: black; 
  font-size: 20px;
  border-radius: 12px;
  border-color: none;
  background-color: #CDCAFD;
  width: 150px;
  height: 40px;
}
  
.div1{
  display: grid;
  grid-template-columns: auto auto;
}
.card-producto p{
  color: black;
  font-size: 20px;
}
.card-producto img{
  width: 80%;
}

.logotech{grid-area: logotech;}
.logosmenu{grid-area: logosmyp;}
.parrafoprincipal{grid-area: parrafoprincipal; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.grid-conteiner{
  display: grid;
  grid-template-areas: 
  'logotech  logosmyp'
  'parrafoprincipal parrafoprincipal';
}

.logos img{
  width: 60px;
  margin: auto;
}
.recomendaciones{
  display: grid;
  grid-template-columns: auto auto auto ;
  background-color: #CDCAFD;
  border: 1px black solid;
  margin: 10px;
}
.linea{
  height: 5px;
  border: none;
  background-color: white;
  margin: 0%;
}
.logosacc img{
  width: 60px;
}
.logosmyp {
  display: grid;
  grid-template-columns: auto auto;
}
.logosmyp img{
  width: 70px;
  top: 3px;
}
.byv{
  display: grid;
  grid-template-columns: auto auto;
}
.filtros{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.linea2{
  height: 5px;
  border: none;
  background-color: white;
  margin: 0%;
  margin-top: -2%;
}

footer{
  background-color: #3d36ba;
  margin-bottom: 0%;
}
.contactos{
  color: white;
  font-size: 20px;
  margin-left: 30px;
}
.i{grid-area: i;}
.nc{grid-area: nc;}
.u{grid-area: u;}
.ct{grid-area: ct;}
.e{grid-area: e;}
.registro{
  display: grid;
  grid-template-areas: 
  'i nc ct'
  'i u e';
  
}
h2{
  font-size: 65px;
}
.v{
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}
.np{
  width:  330px;               
    height: 5px;              
    border-radius: 20px;       
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%; 
}
.info{
    width:  330px;               
    height: 5px;              
    border-radius: 20px;       
    background-color: white;  
    padding: 10px;          
    font-size: 16px;            
    color: grey;
    padding-top: 20px;
    position: relative;   
    left: 3%; 
}
.m {
  display: flex;
  flex-direction: column;
}
.m > * {
  margin: 10px auto; /* arriba/abajo fijo, izquierda/derecha auto */
}
.dp{
  color: #504AC6;
  font-weight: bolder;
}
.l{
  display: grid;
  grid-template-columns: auto auto;
}


.f > * {
  margin: 16px 0px; /* arriba/abajo fijo, izquierda/derecha auto */
  width: 280px;
}
.ones{
  font-size: 40px;
  color: white;
  margin-top: 10px;
}
.productos{
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 10%;
  background-color:#CDCAFD;
}
.rec12{
    width: 380px;             
    height: 600px;          
    background-color: #CDCAFD;   
    margin-left: 35%;
    font-size: 20px;
    font-family: Palanquin Dark;

}
.h1rec{
  margin-left: 35%;
  float: center;
  font-size: 25px;
  margin-top: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.euge{
  margin: 4px;
  width: 330px;               
  height: 5px;              
  border-radius: 20px;       
  background-color: white;  
  padding: 10px;          
  font-size: 16px;            
  color: grey;
  padding-top: 20px;
  position: relative;   
  left: 3%; 
}
.feli{
  font-size: 19px;
  margin-left: 4%;
  color: black;
}

.reclamos{
  background-color: #504AC6;
  width: 150px;
  height: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 20px;
  margin-left: 115px;
  margin-top: 30px;
}

.ap{
  margin-left: 35px;
  font-size: 26px;
  color: white;
  top: auto;
  /* no funciona */
}

.nd{
  font-size: 20px;
  color: black;
}
.marco{
  border: 2px black solid;
  margin: 20px;
  text-align: center;
  padding: 10px;
}

